body {
    background-color: #9EA93F;
    display: flex;
    justify-content: center;
}

.container {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    place-content: center;
    min-height: 50%;
    max-width: 70%;
    border: 12px solid #333;
    border-radius: 25px;
}

.text {
    font-size: clamp(0.6rem, 1rem + 1.2vw, 1.8rem);
    word-break: break-all;
    cursor: default;
    display: none;
    text-align: center;
    margin: 0.5rem;
}

@media screen and (max-width: 1000px) {
    .text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 420px) {
    .text {
        font-size: 0.6em;
    }
}

#videoElement {
    background-color: #666;
    width: 100%;
    height: 100%;
}


/* добавить норм шрифты для надписи! */