body {
    background-color: #9EA93F;
    display: flex;
    justify-content: center;
}

.container {
    /* position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    place-content: center;
    height: 50%;
    width: 37%;
    border: 12px solid #333;
    border-radius: 25px;
}

.text {
    font-size: 1em;
    word-break: break-all;
    cursor: default;
    display: none;
    text-align: center;
}

@media screen and (max-width: 1000px) {
    .text {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 420px) {
    .text {
        font-size: 0.6em;
    }
}

#videoElement {
    background-color: #666;
    width: 100%;
    height: 100%;
}


/* добавить норм шрифты для надписи! */